# 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [ ]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

In [ ]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person' ,'Who'])
print(s)

# 데이터프레임 만들기

In [3]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset']
})
print(scientists)

                Name
0  Rosaline Franklin
1     William Gosset

In [ ]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    index=['Rosaline Franklin']
    columns=['Born']
})
print(scientists)

# 데이터프레임에서 시리즈 선택하기

In [ ]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    index=['Rosaline Franklin']
    columns=['Born']
}))
print(scientists)

In [14]:
scientists = pd.DataFrame(
    data ={'Name' : ['Rosaline Franklin', 'William Gosset'],
            'Occupation' : ['Chemist', 'Statisticain'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37,61]}
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statisticain  1876-06-13  1937-10-16   61

In [13]:
scientists = pd.DataFrame(
    data ={ 'Occupation' : ['Chemist', 'Statisticain'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statisticain  1876-06-13   61  1937-10-16

In [ ]:
from collections import OrderedDict

scientists = pd.DataFrame(
    data ={ 'Occupation' : ['Chemist', 'Statisticain'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37,61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']
)
print(scientists)

# index, values, keys 사용하기

In [ ]:
moeum = 'aeiou'
sentence = 'Life is too short, you need python'

# 시리즈의 mean, min, max, std 메서드 사용하기

In [ ]:
scientists = pd.read_csv('../data/scientists.csv')
scientists.head()

# 시리즈와 불린 추출 사용하기

In [ ]:
print(ages[ages > ages.mean()])

In [ ]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

# 시리즈와 브로드캐스팅

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기